.container {
    height: 50vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to right,#244D9B 35%, white 35%);
}
.content {
    display: flex;
    width: 90%;
    height: calc(100% - 90px);
    margin: 0 auto; 
}
.leftContent {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.leftContent img {
    position: absolute;
    bottom: 0px;
    max-width: 500px;
}
.rightContent {
    flex: 2;
    height: 100%;
    padding: 4rem;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.rightContent h1 {
    font-size:8rem;
    width: 70%;
    line-height: 8rem;
    text-transform: uppercase;
    font-weight: 900;
}

.rightContent p {
    font-size: 1.6rem;
    margin-top: 2rem;
    width: 60%;
}
.round {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    right: 50%;
    z-index: 1;
    bottom: 0;
    background: radial-gradient(99.2% 99.2% at 89.57% 11.23%, #2957DF 0%, #112F7B 100%);
    box-shadow: -19px 108.38px 90px rgba(128, 155, 211, 0.4);
    transform: rotate(44.27deg);
}
@media only screen and (max-width: 1700px) {
    .container {
        height: 65vh;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        height: 80vh;
    }
}