.container {
    width: 100%;
    background-color: rgba(170, 197, 255, 0.2);
    height: auto;
    padding: 4rem;
}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.leftContent {
    flex: 3;
}
.h1{
    font-size: 3rem;
    margin-bottom: 10rem;
    font-weight: 800;
    text-transform: uppercase;
}
.rightContent {
    height: auto;
    background-image: linear-gradient( rgba(41, 87, 223,1),rgba(41, 87, 223, 1)), url('../../../assets/img/about-bg-2.png');
    background-blend-mode: multiply;
    background-size: cover;
    flex: 1;
} 
.block1,
.block2,
.block3  {
    height: 20rem;
    display: flex;
    align-items: center; 
}
.block1 h1,
.block2 h1,
.block3 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    color: white;
    font-weight: 400;
    width: 30%;
}

.block1 p,
.block2 p,
.block3 p {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 5rem;
    line-height: 2.5rem;
    color: white;
}
.block1 {
    background-color: #2D239D;
}
.block2 {
    background: #1C156B;
}
.block3 {
    background: #150433;
}