* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    outline: none !important;
}
:root {
    --text-color: #182237;
    --orange-gradient: linear-gradient(99.54deg, #F6931B 19.48%, #F26921 57.19%);
}
html { font-size:62.5%; } 
h1,h2,h3,h4,h5,h6,p {
    color: var(--text-color);
}
.btn-orange-gradient {
    background: var(--orange-gradient);
    outline: none;
    color: white;
    padding: 9px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}
.slick-slide div:first-of-type {
    display: flex ;
    align-items: center ; 
}
.Stories_rightContent__21ibX .slick-dots {
    display: flex !important;
    left: -10px !important;
}

button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1400px) { 
    html {font-size: 60%;}
}