.container {
    width: 100%;
    border-radius: 4px;
    background-color: #1267E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.container h1 {
    text-align: center;
    margin: 3rem 0px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    width: 60%;
    font-size: 2.6rem;
}
.container p {
    font-size: 1.4rem;
    color: white;
}
.container button {
    background-color: #DF1949;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1.5rem 0px;
    margin-bottom: 3rem;
}